body {
    background-color: #ff3333;
}

h1{
    font-size: 50px;
}

div {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: fit-content;
    z-index: -1;
  }
  
  section {
    padding: 50px;
    width: 300px;
  }